include ./mixins.pug

header
    nav.fixed-container.top-menu
        div.top-menu__button_burger-menu#burger-menu
            div
            div
            div
        ul.top-menu__list_menu
            li
                a(href="#services")
                    | Услуги
            li
                a(href="#portfolio")
                    | Портфолио
            li
                a(href="#price")
                    | Стоимость

        button.top-menu__button_call.button.button--header.js-popup-call
            | Заказать звонок
        a(href="tel:+79997813689" class="top-menu__link_tel")
            | +7 (999) 781-36-89
    .header-title
        div(class="flat-elements-top" aria-hidden="true")
            span
                | {&nbsp;}
            span
                | #
            span
                | &lt;/&gt;
            span
                | &lt;div&gt;
            span
                | &lt;div&gt;
        div(class="header-title_content fixed-container")
            h1.header-title__text.title
                | Дмитрий Киселев
            span.header-title__span_description-title
                | Frontend-разработчик и веб-верстальщик
            a(href="#services" class="header-title__button_solid")
                | Узнать больше
        div.header-title_background
            +balloon()
            picture
                source(srcset="./images/shutterstock_574398823.png 1x, ./images/shutterstock_574398823.png" media="(min-width: 600px)")
                img(src="./images/shutterstock_574398823-m.png" srcset="./images/shutterstock_574398823-m.png 2x" alt="person")