include ./mixins.pug

header.header
    nav.fixed-container.top-menu
        button.top-menu__button_burger-menu#burger-menu
            div
            div
            div
        ul.top-menu__list_menu
            li
                a(href="#services")
                    | Услуги
            li
                a(href="#portfolio")
                    | Портфолио
            li
                a(href="#price")
                    | Стоимость

        button.top-menu__button_call.button.button--header.js-popup-call
            | Заказать звонок
        a(href="tel:+79997813689" class="top-menu__link_tel")
            | +7 (999) 781-36-89