mixin balloon()
    <svg class="background__svg" width="850" height="650" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <defs>
            <linearGradient id="grad3" x1="0%" y1="100%" x2="100%" y2="0%">
                <stop offset="0%" style="stop-color: #ff8f5a ;stop-opacity:1" />
                <stop offset="100%" style="stop-color:#ff2f96;stop-opacity:1" />
            </linearGradient>
        </defs>
        <path class="svg__size--big" d="M80 650 C 30 580, 10 460, 140 300 S400 10, 580 1 S850 200, 850 200 S850 650, 850 650" stroke="transparent" fill="url(#grad3)" />
    </svg>
