section.popup#thanks
    .popup__content.js-content-thanks
        h2.popup__title
            | Спасибо за Вашу заявку!
        button(type="button" class="popup__button-close js-thanks-close")
        p.popup__text
            | Я свяжусь с Вами в ближайшее время!