.header {
  background-color: #fbfbfb;
}

.header-menu {
  &__button-burger-menu {
    background: none;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    border: none;
    outline: none;
  }

  &__button-call {
    float: right;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #fb4c18;
    background-color: #ffffff;
    border: 1px solid #fb4c18;

    &:focus {
      outline: 4px solid #ec6331;
    }

    &:hover {
      color: #fb4c18;
    }
  }

  @media (max-width: 599px) {
    &__link_tel {
      position: absolute;
      font-family: "Roboto", sans-serif;
      font-size: 17px;
      font-weight: 600;
      text-decoration: none;
      color: #333;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 28px;

      &:hover {
        text-decoration: underline;
      }
    }

    &__button-call {
      margin-top: 26px;
      margin-right: 20px;
    }

    &__button-burger-menu {
      padding: 23px 10px 10px;
    }

    &__list {
      position: fixed;
      background: linear-gradient(to bottom, #fff 100px, #ffffff00);
      top: 0;
      left: 0;
      height: 0;
      overflow: hidden;
      width: 100%;
      margin: 0;
      opacity: 0;
      transition: 0.5s;
      z-index: 9;
    }
  }

  @media (min-width: 600px) and (max-width: 1023px) {
    padding: 30px 0;

    &__button-call {
      padding: 12px 35px;
      margin-right: 15px;
    }

    &__link_tel {
      padding: 7px 29px;
      font-family: "Roboto", sans-serif;
      font-size: 25px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
      float: right;
    }

    &__link_tel:hover {
      text-decoration: underline;
    }

    &__list {
      display: inline-block;
    }

    &__list {
      position: fixed;
      background: linear-gradient(to bottom, #ffffff 50px, #ffffff00);
      top: 0;
      left: 0;
      height: 0;
      overflow: hidden;
      width: 100%;
      padding-top: 30px;
      margin: 0;
      opacity: 0;
      transition: 0.5s;
      z-index: 9;
    }
  }

  @media (min-width: 1024px) and (max-width: 1330px) {
    padding: 25px 0;

    &__butto-call {
      padding: 12px 42px;
    }

    &__button-burger-menu {
      display: none;
    }

    &__link_tel {
      padding: 8px 28px;
      font-family: "Roboto", sans-serif;
      font-size: 25px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
      float: right;

      &:hover {
        text-decoration: underline;
      }
    }

    &__list {
      display: inline-block;
    }
  }

  @media (min-width: 1330px) {
    padding: 25px 0;

    &__button-call {
      padding: 12px 35px;
      margin-right: 15px;
      margin-top: 2px;
    }

    &__list {
      padding: 0;
    }

    &__button-burger-menu {
      display: none;
    }

    &__link_tel {
      padding: 8px 30px;
      font-family: "Roboto", sans-serif;
      font-size: 25px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
      float: right;
      margin-top: 3px;

      &:hover {
        text-decoration: underline;
      }
    }

    &__list {
      display: inline-block;
    }
  }
}

.header-list {
  &__link {
    color: #333;
    text-decoration: none;
  }

  @media (max-width: 599px) {
    list-style: none;
    padding: 15px 5px;
    text-align: center;

    &__link {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      color: #000000;
    }
  }

  @media (min-width: 600px) and (max-width: 1023px) {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0 14px;
    padding-bottom: 5px;
    color: #333;
    margin-top: 20px;
    text-align: center;
    list-style: none;

    &__link {
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      color: #000000;

      &:hover {
        color: #fc557c;
        text-decoration: none;
      }
    }
  }

  @media (max-width: 1330px) and (min-width: 1024px) {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: inline-block;
    margin: 0 14px;
    padding-bottom: 5px;
    color: #333;
    cursor: pointer;
    list-style: none;

    &:hover {
      padding-bottom: 5px;
      border-bottom: 1px solid #fc557c;
      color: #fc557c;
      line-height: 10px;
      list-style: none;
    }
  }

  @media (min-width: 1330px) {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: inline-block;
    margin: 0 14px;
    padding-bottom: 5px;
    color: #333;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &:hover {
      padding-bottom: 5px;
      border-bottom: 1px solid #fc557c;
      color: #fc557c;
      line-height: 10px;
    }
  }
}

.button-burger-menu {
  &__first-line {
    margin: 3px 10px;
    width: 45px;
    height: 5px;
    background-image: linear-gradient(60deg, #ff1d80, #ff0078);
  }

  &__second-line {
    margin: 8px 10px;
    width: 45px;
    height: 5px;
    background-image: linear-gradient(60deg, #ff751d, #ff0078);
  }

  &__third-line {
    margin: 8px 10px;
    width: 45px;
    height: 5px;
    background-image: linear-gradient(60deg, #ff751d, rgb(255, 118, 38));
  }

  @media (max-width: 599px) {
    &__first-line {
      margin: 5px 10px;
      width: 25px;
      height: 3px;
    }

    &__second-line {
      margin: 5px 10px;
      width: 25px;
      height: 3px;
    }

    &__third-line {
      margin: 5px 10px;
      width: 25px;
      height: 3px;
    }
  }
}

.show-mobile-menu {
  position: absolute;
  height: 100vh !important;
  opacity: 1 !important;
  padding-top: 30px;
  padding-left: 0;
}
